<!DOCTYPE html>
<html>

<head>
  <!-- inline_css_plugin -->
</head>

<body>

  <%= require('html-loader!../partials/nav.ejs') %>

  <h1 class="page-title">
    <i class="fab fa-fort-awesome"></i>
    HOME
  </h1>

  <div class="magic">
    This is the one.
  </div>

  <%= require('html-loader!../partials/footer.ejs') %>
</body>

</html>
